<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>image_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 113}, {228, 184}}</string>
			<key>spriteOffset</key>
			<string>{-19, -5}</string>
			<key>spriteSize</key>
			<string>{228, 184}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 234}, {228, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 114}, {202, 182}}</string>
			<key>spriteOffset</key>
			<string>{-36, -5}</string>
			<key>spriteSize</key>
			<string>{202, 182}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 0}, {202, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 93}, {176, 202}}</string>
			<key>spriteOffset</key>
			<string>{-47, 6}</string>
			<key>spriteSize</key>
			<string>{176, 202}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 0}, {176, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{71, 92}, {166, 202}}</string>
			<key>spriteOffset</key>
			<string>{-46, 7}</string>
			<key>spriteSize</key>
			<string>{166, 202}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {166, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 141}, {226, 170}}</string>
			<key>spriteOffset</key>
			<string>{-12, -26}</string>
			<key>spriteSize</key>
			<string>{226, 170}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 234}, {226, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 131}, {238, 192}}</string>
			<key>spriteOffset</key>
			<string>{2, -27}</string>
			<key>spriteSize</key>
			<string>{238, 192}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 420}, {238, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 84}, {220, 232}}</string>
			<key>spriteOffset</key>
			<string>{-11, -0}</string>
			<key>spriteSize</key>
			<string>{220, 232}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 0}, {220, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{76, 158}, {262, 158}}</string>
			<key>spriteOffset</key>
			<string>{7, -37}</string>
			<key>spriteSize</key>
			<string>{262, 158}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 614}, {262, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{73, 152}, {256, 170}}</string>
			<key>spriteOffset</key>
			<string>{1, -37}</string>
			<key>spriteSize</key>
			<string>{256, 170}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{746, 420}, {256, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{72, 129}, {256, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -20}</string>
			<key>spriteSize</key>
			<string>{256, 182}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 420}, {256, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{72, 116}, {246, 182}}</string>
			<key>spriteOffset</key>
			<string>{-5, -7}</string>
			<key>spriteSize</key>
			<string>{246, 182}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 420}, {246, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 119}, {232, 178}}</string>
			<key>spriteOffset</key>
			<string>{-17, -8}</string>
			<key>spriteSize</key>
			<string>{232, 178}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 234}, {232, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 118}, {220, 180}}</string>
			<key>spriteOffset</key>
			<string>{-25, -8}</string>
			<key>spriteSize</key>
			<string>{220, 180}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 234}, {220, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>image_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 115}, {220, 182}}</string>
			<key>spriteOffset</key>
			<string>{-24, -6}</string>
			<key>spriteSize</key>
			<string>{220, 182}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 0}, {220, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>image</string>
		<key>textureFileName</key>
		<string>image.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>